.contenedor_tiendaId_item {
  height: auto;
  width: 100%;
  margin: 0;
}

.cardPresentacion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.imagenFondo {
  object-fit: cover;
  height: 400px;
}

.contenedor_tiendaId_texto {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: #f1e8d790;
  top: 20px;
}

.tiendaID_titulo,
.tiendaID_descripcion,
.tiendaID_stock,
.tiendaID_precio,
.tiendaID_telefono,
.tiendaID_instagram,
.tiendaID_facebook,
.tiendaID_ubicacion,
.tiendaID_emprendedor {
  margin: 0 50px;
  font-family: var(--font-parrafos);
  font-weight: 500;
  color: var(--font-color-oscuro);
  font-size: 16px;
}

.tiendaID_titulo {
  font-size: 20px;
}

.tiendaID_nombre {
  font-family: var(--font-titulos);
  color: var(--font-color-oscuro);
  font-weight: 800;
  font-size: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: -80px 30px 20px 30px;
}

.tiendaID_detalle {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.tiendaID_titulo {
  font-weight: 800;
}

.tiendaID_descripcion {
  font-size: 16px;
}

.Cards {
  position: absolute;
}

@media screen and (max-width: 800px) {
  .nombre {
    font-size: 16px;
  }
  .detalle > p {
    font-size: 12px;
  }
}
